<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load lib -->
    <link rel="stylesheet" href="stylesheets/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="javascripts/lib/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="javascripts/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="javascripts/lib/dblTap.js"></script>
    <script type="text/javascript" src="javascripts/lib/html2canvas.min.js"></script>
    <script type="text/javascript" src="stylesheets/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <!-- load css -->
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/form.css">
    <!-- load js -->
    <script type="text/javascript" src="javascripts/util.js"></script>
    <script type="text/javascript" src="javascripts/State.js"></script>
    <script type="text/javascript" src="javascripts/initialize.js"></script>
    <script type="text/javascript" src="javascripts/event.js"></script>
    <script type="text/javascript" src="javascripts/selectArea/selectArea.js"></script>
    <script type="text/javascript" src="javascripts/selectArea/PlayerIconList.js"></script>
    <script type="text/javascript" src="javascripts/selectArea/PlayerIcon.js"></script>
    <script type="text/javascript" src="javascripts/downloadImg.js"></script>
    <script type="text/javascript" src="javascripts/graph/Graph.js"></script>
    <script type="text/javascript" src="javascripts/graph/Vector2D.js"></script>
    <script type="text/javascript" src="javascripts/submit.js"></script>

    <title>参加勢TierMatrix</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="logo ml-5">
            参加勢TierMatrix
        </div>
    </header>
    <!-- header -->

    <div id="page--drawing">
        <div id="drawing">
            <!-- 作図エリア -->
            <div id="placement">
                <div class="theme theme__y">
                    <%= theme.positive_y %>
                </div>
                <div id="placement--row">
                    <div class="theme theme__x">
                        <%= theme.negative_x %>
                    </div>
                    <div id="graph">
                        <div class="inner--graph left top"></div>
                        <div class="inner--graph right top"></div>
                        <div class="inner--graph left bottom"></div>
                        <div class="inner--graph right bottom"></div>
                    </div>
                    <div id="placement--form"></div>
                    <div class="theme theme__x">
                        <%= theme.positive_x %>
                    </div>
                </div>
                <div class="theme theme__y">
                    <%= theme.negative_y %>
                </div>
            </div>
            <!-- 検索エリア -->
            <div id="select">
                <div id="selected--are">
                    <input class="form-control" type="text" id="selected" class="" placeholder="選択中：" readonly>
                </div>
                <div id="select--content">
                    <div id="select--input">
                        <div id="select--gui" class="ml-4 mt-3 mb-3">
                            <div id="clear--button">
                                <button class="btn btn-primary mr-2" type="button">
                                        <p>配置をクリア</p>
                                    </button>
                            </div>
                            <div id="select--search">
                                <input class="form-control" type="text" id="searchPlayer" placeholder="参加勢を検索">
                            </div>
                        </div>
                    </div>
                    <div id="select--icons" class="ml-4 mb-3"></div>
                </div>
            </div>
        </div>
        <!-- アンケートエリア -->
        <div id="questionnaire" class="form-group">
            <div id="gender">
                <label for="gender">性別:</label>
                <select class="form-control" name="gender" id="gender--select">
                        <% for(i in genders) {%>
                            <option value=<%- genders[i].id%>>
                                <%- genders[i].name%>
                            </option>
                            <% }%>
                    </select>
            </div>
            <div id="age">
                <label class="mt-3" for="age">年齢:</label>
                <select class="form-control" name="age" id="age--select">
                        <% for(i in ages) {%>
                            <option value=<%- ages[i].id%>>
                                <%- ages[i].name%>
                            </option>
                            <% }%>
                    </select>
            </div>
            <div id="area">
                <label class="mt-3" for="area">お住まいの地域:</label>
                <select class="form-control" name="area" id="area--select">
                        <% for(i in areas) {%>
                            <option value=<%- areas[i].id%>>
                                <%- areas[i].name%>
                            </option>
                            <% }%>
                    </select>
            </div>
            <input id="device" name="device" type="hidden">
        </div>
        <div id="placement--clone" class="none"></div>
        <!-- ボタン -->
        <div id="formButton">
            <div id="formButton--submit">
                <button id="complete" class="btn btn-primary m-1" type="button">
                        <p>完成!!!</p>
                    </button>
            </div>
        </div>
        <!-- <iframe name="dummy" style="width:0px;height:0px;border:0px;"></iframe> -->
        <% for (i in players) {%>
            <input class="playerMeta" value=<%=JSON.stringify(players[i])%> hidden readonly>
            <% } %>
    </div>

    <div id="page--result">
        <div id="placement">
            <div class="theme theme__y">
                <%= theme.positive_y %>
            </div>
            <div id="placement--row">
                <div class="theme theme__x">
                    <%= theme.negative_x %>
                </div>
                <div id="graph">
                    <div class="inner--graph left top"></div>
                    <div class="inner--graph right top"></div>
                    <div class="inner--graph left bottom"></div>
                    <div class="inner--graph right bottom"></div>
                </div>
                <div id="placement--form"></div>
                <div class="theme theme__x">
                    <%= theme.positive_x %>
                </div>
            </div>
            <div class="theme theme__y">
                <%= theme.negative_y %>
            </div>
        </div>
    </div>
</body>

</html>